
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1 1 auto;
}

.search-button {
  margin-top: 8px;
}

.email-header{
  padding: 15px 15px 5px 15px;
  color: antiquewhite;
}
