.card-frame {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin: 20px;
}

.content {
  height: 200px;
  width: 150px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 2px solid rosybrown;
  background: antiquewhite;
  border-radius: 1rem;
}

.title {
  text-align: center;
  height: 20px;
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
}

.image {
  height: 80px;
  flex: 1 0 auto;
  border-radius: 1rem;
  margin: 1rem;
}

.price {
  text-align: center;
  height: 20px;
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
}

.button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button {
  margin: 10px;
  width: 55px;
  height: 30px;
  font-size: x-small;
  border-radius: 0.5rem;
  border: 2px solid rosybrown;
}
